@charset "utf-8";
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1bfdf23b;
}
#canvasContainer {
    width: 100%;
    height: 100%;
}
